<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} | CYBER-BLOG</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="page-wrapper">
    <header>
        <div class="nav-container">
            <div class="logo">CYBER-BLOG</div>
            <nav>
                <a href="/">Accueil</a>
                <a href="/articles">Articles</a>
                {{#if userUsername}}
                    <a href="/articles/new">Ajouter</a>
                    <a href="/logout">Quitter</a>
                {{else}}
                    <a href="/login">Entrée</a>
                    <a href="/register">Inscription</a>
                {{/if}}
            </nav>
        </div>
    </header>

    <main class="content">
        {{{body}}}
    </main>

    <footer>
        <div class="container">
            <p>© 2025 PROTOCOLE MINI-BLOG - SECTION BTS</p>
        </div>
    </footer>
</div>
</body>
</html>