<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>

<header>
    <nav>
        <a href="/">Accueil</a> |
        <a href="/articles">Articles</a> |
        <a href="/articles/new">Ajouter un Article</a> |
        <a href="/about">À Propos</a>
    </nav>
    <hr>
</header>

{{{body}}}

<footer>
    <hr>
    <p>&copy; 2025 Mini-Blog Communautaire - Projet BTS</p>
</footer>

</body>
</html>