<h1>Créer un nouvel article</h1>

<form action="/articles/new" method="POST">

    <label for="title">Titre :</label>
    <input type="text" id="title" name="title" required>

    <label for="content">Contenu :</label>
    <textarea id="content" name="content" rows="6" required></textarea>

    <p>
        <strong>Auteur :</strong>
        <span style="font-weight: bold; color: green;">{{userUsername}}</span>
    </p>

    <button type="submit">Publier l’article</button>
</form>
